.work-listing.ng-enter,
.work-listing.ng-leave,
.work-listing.ng-move {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}

.work-listing.ng-enter,
.work-listing.ng-move {
  opacity: 0;
  /*height: 0;*/
  /*overflow: hidden;*/
}

.work-listing.ng-move.ng-move-active,
.work-listing.ng-enter.ng-enter-active {
  opacity: 1;
  /*height: 120px;*/
}

.work-listing.ng-leave {
  opacity: 1;
  /*overflow: hidden;*/
}

.work-listing.ng-leave.ng-leave-active {
  opacity: 0;
  /*height: 0;
  padding-top: 0;
  padding-bottom: 0;*/
}

.view-container {
  position: relative;
}

.view-frame.ng-enter, .view-frame.ng-leave {
  /*WHITE THEME*/
  /*background: #fff; */
  background: #414042; 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.view-frame.ng-enter {
  -webkit-animation: 0.5s fade-in;
  -moz-animation: 0.5s fade-in;
  -o-animation: 0.5s fade-in;
  animation: 0.5s fade-in;
  z-index: 3;
}

.view-frame.ng-leave {
  -webkit-animation: 0.5s fade-out;
  -moz-animation: 0.5s fade-out;
  -o-animation: 0.5s fade-out;
  animation: 0.5s fade-out;
  z-index:2;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-moz-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-webkit-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-moz-keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-webkit-keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
