

		<div class="custom-view4">

			<div class="work-item">
	          		<div class="inner">
	          			<div class="inner-inner" style="background-image:url('img/contact/email.gif');"> <!-- style="background-image:url('img/about/main.gif');" -->
			          		<a href="mailto:rachid.mrad@gmail.com" class="work-information">
			          			<div class="inner-text">
			          				<div class="inner-text-inner">
			          					<h2>EMAIL</h2>
					          			<p>rachid.mrad@gmail.com</p>
					          		</div>
					          	</div>
							</a>
						</div>	
					</div>
			   </div>

			<div class="work-item">
	          		<div class="inner">
	          			<div class="inner-inner" style="background-image:url('img/contact/github.gif');"> <!-- style="background-image:url('img/about/main.gif');" -->
			          		<a href="https://github.com/rachidmrad" class="work-information">
			          			<div class="inner-text">
			          				<div class="inner-text-inner">
			          					<h2>GITHUB</h2>
					          			<p>https://github.com/rachidmrad</p>
					          		</div>
					          	</div>
							</a>
						</div>	
					</div>
			   </div>

			   <div class="work-item">
	          		<div class="inner">
	          			<div class="inner-inner" style="background-image:url('img/contact/facebook.gif');"> <!-- style="background-image:url('img/about/main.gif');" -->
			          		<a href="https://www.facebook.com/rachid.j.mrad" class="work-information">
			          			<div class="inner-text">
			          				<div class="inner-text-inner">
			          					<h2>FACEBOOK</h2>
					          			<p>https://www.facebook.com/rachid.j.mrad</p>
					          		</div>
					          	</div>
							</a>
						</div>	
					</div>
			   </div>   

			   <div class="work-item">
	          		<div class="inner">
	          			<div class="inner-inner" style="background-image:url('img/contact/twitter.gif');"> <!-- style="background-image:url('img/about/main.gif');" -->
			          		<a href="https://twitter.com/rachidmrad" class="work-information">
			          			<div class="inner-text">
			          				<div class="inner-text-inner">
			          					<h2>TWITTER</h2>
					          			<p>https://twitter.com/rachidmrad</p>
					          		</div>
					          	</div>
							</a>
						</div>	
					</div>
			   </div>

			   <div class="work-item">
	          		<div class="inner">
	          			<div class="inner-inner" style="background-image:url('img/contact/phone.gif');"> <!-- style="background-image:url('img/about/main.gif');" -->
			          		<a href="http://www.rachidmrad.com/errordocs/404.html" class="work-information">
			          			<div class="inner-text">
			          				<div class="inner-text-inner">
			          					<h2>571-213-8505</h2>
					          			<p>DON'T CLICK THIS ONE</p>
					          		</div>
					          	</div>
							</a>
						</div>	
					</div>
			   </div>         


		

		</div>		
      