		

		<div id="top" class="container content-wrapper custom-view3">
			
			<div class="row">
				<div class="col-xs-8 col-sm-6 col-md-4">
					<img src="img/signature-white.gif" alt="rachid mrad" />
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-lg-12">
					<p>I am a responsive Web Design expert with a passion for User Interface Design and an understanding of User Experience Design.</p>
					<p>I studied Computer Science, Graphic Design, and then some more Graphic Design (MA at SCAD). I work in print and web, teach computer illustration and web design at UDC, and speak about the Responsive Web and User Interface Design.</p>
					<p>I am currently having a blast with Angular.js</p>
			        <h2>Skills &amp; Experience</h2>
			        <p>How do you measure skill? Below is my attempt at quantifying my experience with the different aspects of design.</p>
			        <ul>
			          <li><strong>Visual Design: </strong>Proficient</li>
			          <li><strong>Typography: </strong>Proficient</li>
			          <li><strong>CSS3: </strong>Expert</li>
			          <li><strong>SASS/LESS: </strong>Proficient</li>
			          <li><strong>Responsive Web Design: </strong>Expert</li>
			          <li><strong>GIT: </strong>Gittin there</li>
			          <li><strong>UI Design: </strong>Competent</li>
			          <li><strong>UX Design: </strong>Competent</li>
			          <li><strong>AngularJs: </strong>Advanced Beginner</li>
			          <li><strong>JavaScript: </strong>Competent</li>
			          <li><strong>JQuery: </strong>Competent</li>
			          <li><strong>Print Stuff: </strong>Proficient</li>
			          <li><strong>Fine Art/Conceptual Stuff: </strong>Proficient</li>
			          <li><strong>Charming Personality? </strong>Yup</li>
			        </ul>
			        <p>This site was built using Twitter Bootstrap, Angular.js, and a few gallons of really good coffee.</p>
				</div>
			</div>
		

		</div>		
      