<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A Designer's Portfolio">
    <meta name="author" content="Rachid J Mrad">
  <title>Rachid J Mrad</title>
  <!-- In production:
  move: bootstrap.min.js, angular.js, angular-route.js, bootstrap.min.js 
  use: <script src="js/x.x.x.js"></script>
  -->
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>

  <!-- for CSS Transitions and/or Keyframe Animations -->
  <link rel="stylesheet" href="css/animations.css">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="wrapper">
  <div class="custom-navbar" role="navigation">

      <div class="customnavbar-header" ng-controller="MyCtrl1">
        
        <a href="#/about" class="about parallelogramRight expander-plus btn btn-default nav-button">
          <div class="skewAdjuster">
            <span class="sr-only">Toggle information</span>
            <span class="hidden-xs">About</span>
            <div class="glyph-group">
              <span class="dash"></span>
              <span class="dash"></span>
            </div>
          </div>  
        </a>
        <a href="#/contact" class="contact parallelogramRight expander-hamburger btn btn-default nav-button">
          <div class="skewAdjuster">
            <span class="sr-only">Toggle contact navigation</span>
            <span class="hidden-xs">Contact</span>
            <div class="glyph-group">
              <span class="dash"></span>
              <span class="dash"></span>
              <span class="dash"></span>
            </div>
          </div>  
        </a>  
      </div>
      <div class="sort-portfolio">
        <select ng-model="orderProp" click> <!-- creating a directive was the only way I found for changing the view and the ng-model for the first scope --> 
              <option value="" selected>Show All<sup> *</sup></option>
              <option value="latest">Latest</option>
              <option value="websites">Websites</option>
              <option value="print">Print</option>
              <option value="traditional">Fine Art</option>
              <option value="experiments">Experiments</option>
        </select>
      </div>
      <!-- has to come after the select, otherwise the ngclick does not work -->
      <a href="#" class="home parallelogramRight pull-left btn-default active nav-button" ng-click="orderProp=''"> <!-- href resets the view, orderProp resets the order -->
        <div class="skewAdjuster">
          <span class="sr-only">home</span>
          <span class="letter">R</span>
          <span class="letter hidden-xs">a</span>
          <span class="letter hidden-xs">c</span>
          <span class="letter hidden-xs">h</span>
          <span class="letter hidden-xs">i</span>
          <span class="letter hidden-xs">d</span>
          <span class="letter">J</span>
          <span class="letter">M</span>
          <span class="letter hidden-xs">r</span>
          <span class="letter hidden-xs">a</span>
          <span class="letter hidden-xs">d</span>
        </div>    
      </a>

    <!-- <div class="hidden-contacts">
      <ul>
        <li><a class="parallelogramRight" href="mailto:rachid.mrad@gmail.com"><div class="skewAdjuster">Email</div></a></li>
        <li><a class="parallelogramRight" href="https://github.com/rachidmrad"><div class="skewAdjuster">Github</div></a></li>
        <li><a class="parallelogramRight" href="https://www.facebook.com/rachid.j.mrad"><div class="skewAdjuster">Facebook</div></a></li>
        <li><a class="parallelogramRight" href="https://twitter.com/rachidmrad"><div class="skewAdjuster">Twitter</div></a></li>
        <li><a class="phone-number parallelogramRight" href=""><div class="skewAdjuster">571-213-8505</div></a></li>
      </ul>
    </div> -->
  </div><!-- /.navbar -->
  
  <div class="view-container">
    <div ng-view class="view-frame"></div>
  </div>  

  <footer>&copy; Copyright Rachid Mrad 2014. All Rights Reserved.</footer>
  <!-- <div class="contact-screen"></div> -->
</div> <!-- wrapper   -->

  <!-- In production:
  move: bootstrap.min.js, angular.js, angular-route.js, bootstrap.min.js 
  use: <script src="js/x.x.x.js"></script>
  -->
  <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="js/navigation.js"></script>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-animate/angular-animate.js"></script>
  <script src="../bower_components/angular-route/angular-route.js"></script>
  <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/animations.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
<!-- DEPLOYMENT -->
  <!--<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="js/navigation.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/angular-animate.min.js"></script>
  <script src="js/angular-route.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/animations.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>-->
</body>
</html>
